body{
    margin:0;
    background:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/apple_tiling.webp);
}

@font-face {
    font-family: AnApple;
    src: url(../fonts/an_apple/An\ Apple.ttf);
    /* Font provient de DaFont.com */
}

header h1{
    font-family: AnApple;
    color:red;
    text-shadow: 5px 5px black;
}

header h2{
    background-color: rgba(0, 0, 0, 0.644);
    color:white;
}

h2{
    text-align: center;
}


header div{

    width:fit-content;
    padding:20px;

    text-align: center;
}


section, article {
    background-color: pink;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
}
table, th, td{
    border: solid 2px black;
    border-collapse: collapse;
}
table{
    caption-side: bottom;
}
caption{
    font-style: italic;
}
td,th{
    padding:5px;
}
table{
    width: 100%;
    border-width: 4px;
}


tr{
    background-color: darkgray;
}
tbody tr:nth-child(even){
    background-color:gray;
}
thead tr{
    background-color: white;
}
span{
    color:blue;
}

section h3{
    animation-name: bounceAnimation;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
  text-align: center;
  width: fit-content;
}

@keyframes bounceAnimation {
  0%, 100% {color:red; }
  50% { transform: rotate(180deg);
            color:blue; }
  100%  {transform: rotate(360deg)}
}

@keyframes destroyAnimation {
    0%, 100% {
        filter: blur(0px);
    }
    50% {
        filter: blur(100px) opacity(0);
    }
}

.cool_apple_image {
    width:500px;
    height: 500px;
    object-fit: cover;
    display:block;
    margin: auto;
    border-radius: 100%;
    border: solid 2px black;
    background-image:url(../images/apple_tiling.webp);
}
.vip_title {
    font-style: italic;
    text-align: center;
}

td img{
    display: block;
    margin: auto;
    height: 30pt;
    width: 30pt;
}


footer{
    margin: 20px;
    background-color: white;
    border: solid 2px lightgray;
    border-radius: 15px;
    box-shadow: -5px 5px 15px green;
    padding:20px

}

.bouton_special{
    display:block;
    margin:auto;
    text-align: center;
    background-color: lightgray;
    width: fit-content;
    padding: 20px;
    border: solid black 5px;
    border-style: none solid solid none;
    border-radius: 5px;
    transition: 0.1s;
}

.bouton_special:hover{
    background-color: lightblue;
    border-color: lightskyblue;
    transform: scale(1.2,1.2);
    span{
        visibility:visible;
        color: rgb(110, 110, 110)
    }
}

.bouton_special span{
    visibility: hidden;
    color: rgba(1,1,1,0);
    transition:0.25s;
}

table a{
    color:black;
    text-decoration: none;
    transition: 0.2s;
}
table a:hover{
    font-weight: bolder;
    color: white;
    text-shadow: 5px 5px red;

}